.body1 {

    background-color: white    ;
    color: black;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    font-size: 14px;
    width: 100%;
    height: auto;
    max-width: 800px; /* Set a max width for the body */
    margin: 0 auto; /* Center the body horizontally */
  
}

body {

    background-color: #1a1a40;
    color: black;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    width: 100%;
    height: auto;
    max-width: 800px; /* Set a max width for the body */
    margin: 0 auto; /* Center the body horizontally */
  
}

button {
    padding: 10px 15px;
    margin: 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;

}

buttonQuestion {
    padding: 10px 30px;
    margin: 20px;
    border: none;
    background-color: #9b0f22;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}

.nav-buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  
 
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}




.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}



buttonQuestion:hover {
    background-color: #e00987;
}
  

.responsive-image {
    width: 600px;
    height: auto;
}